<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		  <a class="navbar-brand" href="#">메인페이지</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <th:block sec:authorize="isAnonymous()">
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/auth/loginForm}">로그인</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/auth/joinForm}">회원가입</a>
		      </li>
		    </ul>
		  </div>  
		  </th:block>
		  <th:block sec:authorize="isAuthenticated()">
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="#">로그아웃</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">마이페이지</a>
		      </li>
		    </ul>
		  </div>  
		  </th:block>
		</nav>
	</header>
</html>